@model List<BulkyBookWeb.Models.Library>;

@{
    ViewData["Title"] = "Home";
}

<div class="container p-3">
	<div class="row pt-4">
		<div class="col-6 text-start">
			<h1 class="text-primary">Book Library</h1>
		</div>
	</div>
	<br />
</div>

<table class="table table-bordered table-striped" style="width:100%">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Category Name
			</th>
			<th>
				Display Order
			</th>
			<th>
				Genre
			</th>
			<th>
				ISBN
			</th>
			<th>
				Author
			</th>
			<th>
				Publisher
			</th>
			<th>
				Date and Time
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (Library obj in Model)
		{
			<tr>
				<td with=5%>
					@obj.UserId
				</td>
				<td with=5%>
					@obj.Name
				</td>
				<td with=5%>
					@obj.DisplayOrder
				</td>
				<td with=5%>
					@obj.Genre
				</td>
				<td with=5%>
					@obj.ISBN
				</td>
				<td with=5%>
					@obj.Author
				</td>
				<td with=5%>
					@obj.Publisher
				</td>
				<td with=5%>
					@obj.DateTimeNow
				</td>
			</tr>
		}
	</tbody>
</table>