@model List<BulkyBookWeb.Models.Library>;

@{
    ViewData["Title"] = "Home";
}


<div class="up">
	@*<h1 class="text-center text-white bg-warning p-0">@TempData["ErrorMessage"] @TempData["invalidFile"] </h1>*@
	<h1 class="text-center text-white bg-warning p-0"> @TempData["InvalidFile"] </h1>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h3 class="modal-title fs-5" id="exampleModalLabel">Please Upload Excel Sheet</h3>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form method="post" class="" enctype="multipart/form-data" asp-action="Index" asp-controller="Home">
						<input type="file" name="file" required />
						<button type="submit" class="btn btn-success btn-sm">
							<i class="bi bi-cloud-upload"></i>
							<span class="mx-1">Upload File</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="card shadow border-0 mb-7">
	<div class="row align-items-center p-3 m-2">
		@*<span class="text-muted text-sm float-lg-end">Last Sync Date @TempData["LastSyncDate"]</span>*@
		<div class="col-12 mb-4 mb-sm-0 d-flex justify-content-between">
			<div class="col-6 text-start">
				<h1 class="text-primary">Book Library</h1>
			</div>
			<div>
				<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
					<i class="bi bi-cloud-upload"></i>
					<span class="mx-1">Upload File</span>
				</button>
				@*<a type="button" class="btn btn-sm btn-outline-secondary text-black" asp-action="EIDChanges" asp-controller="Nominal">
					<i class="bi bi-clock-history"></i>
					<span class="mx-1">Sync History</span>
				</a>*@
			</div>
		</div>
	</div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
	<thead>
		<tr>
			<th>
				ID
			</th>
			<th>
				Category Name
			</th>
			<th>
				Display Order
			</th>
			<th>
				Genre
			</th>
			<th>
				ISBN
			</th>
			<th>
				Author
			</th>
			<th>
				Publisher
			</th>
			<th>
				Date and Time
			</th>
		</tr>
	</thead>
	<tbody>
		@if (Model != null && Model.Count > 0)
		{
			@foreach (Library obj in Model)
			{
				<tr>
					<td with=5%>
						@obj.UserId
					</td>
					<td with=5%>
						@obj.Name
					</td>
					<td with=5%>
						@obj.DisplayOrder
					</td>
					<td with=5%>
						@obj.Genre
					</td>
					<td with=5%>
						@obj.ISBN
					</td>
					<td with=5%>
						@obj.Author
					</td>
					<td with=5%>
						@obj.Publisher
					</td>
					<td with=5%>
						@obj.DateTimeNow
					</td>
				</tr>
			}
		}
	</tbody>
</table>